// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  height: 100vh;
  // border: 5px solid red;
  //   max-width: 1700px;
  //   max-height: 1500px;
  // background-color: rgba(178, 146, 57, 0.634);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
$border: 2px solid rgb(214, 214, 214);
$bg: rgba(13, 21, 34, 0.694);
$Sides: rgba(18, 29, 47, 0.694);
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.App {
  //  @include flexDisplay(center, center);
  // border: 2px solid red;
  height: 100vh;
  padding: 10px 20px;
  .iv-card {
    height: 100%;
    background-image: url("https://res.cloudinary.com/isreal/image/upload/v1662598408/My%20portfolio%20Project/WhatsApp_Image_2022-09-05_at_6.55.19_PM_1_eg74z2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .pick-table {
      position: absolute;
      width: 250px;
      height: 45px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 20px;

      animation: bounce 4s linear infinite;

      @include responsive(bigphone) {
        top: 90%;
      }

      button {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        background-color: rgba(10, 10, 10, 0.999);
        font-size: 17px;
        font-weight: 700;
        color: goldenrod;
        border: 1px solid goldenrod;
        cursor: pointer;

        &:hover {
          background-color: rgb(0, 0, 0);
          color: goldenrod;
          border: 1px solid goldenrod;
        }
      }

      @include responsive(bigphone) {
        width: 200px;
        height: 45px;
      }

      @keyframes bounce {
        0% {
          transform: scale(0.7);
        }
        50% {
          transform: scale(0.8);
        }
        100% {
          transform: scale(0.7);
        }
      }
    }
    .form {
      @include flexDisplay(center, center, column);
      margin: 0 auto;
      color: #fff;
      width: 350px;
      height: 80vh;
      z-index: 3;
      animation: form-in 0.3s linear;

      @keyframes form-in {
        0% {
          transform: scale(0.4);
        }
        100% {
          transform: scale(1);
        }
      }
      @include responsive(bigphone) {
        width: 600px;
      }
      form {
        @include flexDisplay(center, center, column);
        background-color: rgb(1, 1, 0);
        border: 5px solid goldenrod;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        position: relative;
        margin-top: 50%;
        @include responsive(bigphone) {
          margin-top: 0%;
        }

        .cancel {
          color: goldenrod;
          position: absolute;
          top: -30px;
          right: -30px;
          width: 40px;
          height: 40px;
          background-color: black;
          font-size: 30px;
          border-radius: 50%;
          cursor: pointer;
          // border: 2px solid red;
        }
        div {
          margin: 20px;
          width: 300px;
          // border: 2px solid red;
          @include flexDisplay(center, center, column);
          label {
            margin-right: auto;
            font-size: 12px;
            font-weight: 300;
          }
          input,
          select {
            width: 300px;
            height: 40px;
            // margin: 5px;
            border-radius: 5px;
            padding: 0 10px;
            border: 1px solid goldenrod;
          }
        }
        @include responsive(bigphone) {
          width: 100%;
        }
      }
      .submit-btn {
        margin-top: 20px;
        width: 250px;
        height: 35px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 900;
        color: goldenrod;
        border: 1px solid goldenrod;
        cursor: pointer;

        &:hover {
          background-color: goldenrod;
          color: rgb(0, 0, 0);
          border: 1px solid goldenrod;
        }
      }
    }
  }

  .dynamicPage-container {
    border: 5px solid goldenrod;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 20px;
    position: relative;

    .dynamicimg {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;

      img {
        width: 100%;
        // border: 2px solid red;
      }
    }
    .thanks-message {
      @include flexDisplay(center, center, column);

      p {
        margin: 10px;
        font-size: 13px;
      }
      .barcode {
        @include flexDisplay(center, center, column);
        width: 100%;

        img {
          width: 30%;
        }
      }
    }
  }
}
